html{ 
    background-color: yellow;
}

.header{
    display: flex; 
    background-color: turquoise;
    margin: 10px; 
}

h1{
    margin-left: 350px ;
}

.projects{
    display: flex; 
    flex-direction: row;
    background-color:whitesmoke ;
    margin: 20px;
    padding: 40px;
    justify-content: space-evenly;
}

.projects:hover{
     opacity: 0.7; 
}

